.text-field{
-fx-background-color:white;
-fx-text-fill:#ff8300;
-fx-background-radius: 50;
-fx-border-radius: 50;
-fx-border-width: 1.9;
}
.text-field:focused{
-fx-border-color:#ff8300;
}
.button{
 -fx-background-color:white;
 -fx-background-radius: 50;
 -fx-border-radius: 50;
 -fx-border-width: 2;
}
.button:pressed{
-fx-background-color:#ff8300;
-fx-text-fill:white;
}
.radio-button:selected .radio .dot {
    -fx-background-color:#ff8300;
    -fx-background-insets: 0;
}
.radio-button .radio{
     -fx-border-color:#ff8300;
     -fx-background-color:white;
     -fx-border-radius:50%;
     -fx-border-width:1.5;
     -fx-background-insets: 0;
     -fx-focus-color: #ff8300;
}
.radio-button:selected .radio{
-fx-border-color:#ff8300;
}